.infos {
  display: flex;
  font-size: 14px;
  color: darkgrey;
  margin-top: -10px;
  .date, .author {
    margin-right: 5px;
  }
}
.content {
  margin-top: 10px;
}
.messages {
  margin-top: 10px;
  .messages-label {
    font-size: 20px;
    font-weight: bold;
  }
  .message {
    margin-top: 15px;
    border: 1px grey solid;
    border-radius: 25px;
    padding: 5px 13px 5px 13px;
    .infos {
      margin-top: 0;
    }
  }
}
