<div class="container">

  <h1 class="title">{{publication.title}}</h1>
  <div class="infos">
    <div class="date">Publié le {{publication.publicationDate | date : 'dd/MM/yyyy à hh:mm:ss'}}</div>
    <div class="author">par {{publication.author.username}}</div>
  </div>
  <div class="content" [innerHTML]='publication.content'></div>

  <div class="messages">
    <hr/>
    <div class="messages-label">
      Messages :
    </div>
    <h4 *ngIf="publication.messages.length === 0">Il n'y a pas de messages... Soyez le premier à réagir ! </h4>
    <div class="message" *ngFor="let message of publication.messages">
      <div class="infos">
        <div class="author">De {{message.author.username}}</div>
        <div class="date">le {{message.publicationDate | date : 'dd/MM/yyyy à hh:mm:ss'}}</div>
      </div>
      <div class="message-content">{{message.content}}</div>
    </div>
  </div>
</div>
