<div class="container">

  <div class="message bg-primary p-4" *ngIf="message">{{message}}</div>
  <div class="message bg-danger p-4" *ngIf="errorMessage">{{errorMessage}}</div>

  <div class="user" *ngFor="let user of users">
    <div class="username">{{user.username}}</div>
    <div class="action-icons">
      <span class="material-icons icon" (click)="accessEditUser(user.id)">edit</span>
      <span class="material-icons icon" (click)="deleteUser(user.id)">delete</span>
    </div>
  </div>

</div>
