footer {
  color: white;
  .text-area {
    margin-bottom: 25px;
  }
  .details {
    padding-top: 15px;
    border-radius: 15px 15px 0 0;
  }
  .list-inline-item a {
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    text-decoration: underline;
    &:hover {
      color: white;
    }
  }
}
