<div class="publication-edit container">
  <h1>{{publication?.id ? 'Éditer' : 'Ajouter'}} une publication</h1>

  <div class="spinner-border spinner m-5" role="status" *ngIf="loadingData">
    <span class="sr-only">Loading...</span>
  </div>

  <form *ngIf="!loadingData">
    <div class="row">
      <div class="form-group col-md-6">
        <label for="title">Titre</label><span class="icon oi oi-star"></span>
        <input type="text" class="form-control" id="title" [(ngModel)]="publication.title" name="title" required #title="ngModel" (ngModelChange)="checkIfTitleIsValid()">
        <div *ngIf="title.touched && title.invalid" class="alert alert-danger">Titre requis</div>
        <div *ngIf="!isTitleValid && title.touched" class="alert alert-danger">Titre invalide</div>
      </div>

      <div class="form-group col-md-6">
        <label for="imagePath">Lien vers image</label>
        <input type="text" class="form-control" id="imagePath" [(ngModel)]="publication.imagePath" name="imagePath" >
      </div>

      <div class="form-group col-12">
        <label for="content">Contenu</label><span class="icon oi oi-star"></span>
        <angular-editor [(ngModel)]="publication.content" required #content="ngModel" [config]="editorConfig" name="content" (ngModelChange)="checkIfContentIsValid()"></angular-editor>
        <div *ngIf="content.touched && content.invalid" class="alert alert-danger">Contenu requis</div>
        <div *ngIf="!isContentValid && content.touched" class="alert alert-danger">Contenu invalide</div>
      </div>
    </div>

    <div class="required-info">
      <span class="oi oi-star"></span> = obligatoire
    </div>

    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!isTitleValid || !isContentValid || sendingPublication" >Enregistrer</button>
        <div class="spinner-border spinner-border-sm little-spinner" role="status" *ngIf="sendingPublication">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <div class="bg-danger p-5" *ngIf="message">{{message}} </div>
  </form>
</div>
