<div class="publication-edit container">
  <h1>{{publication?.id ? 'Éditer' : 'Ajouter'}} une publication</h1>

  <form>
    <div class="row">
      <div class="form-group col-6">
        <label for="title">Titre</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="publication.title" name="title" required #title="ngModel" (change)="checkIfTitleIsValid()">
        <div *ngIf="title.touched && title.invalid" class="alert alert-danger">Titre requis</div>
        <div *ngIf="!isTitleValid && title.touched" class="alert alert-danger">Titre invalide</div>
      </div>

      <div class="form-group col-6">
        <label for="imagePath">Lien vers image</label>
        <input type="text" class="form-control" id="imagePath" [(ngModel)]="publication.imagePath" name="imagePath" >
      </div>

      <div class="form-group col-12">
        <label for="content">Contenu</label>
        <textarea type="text" class="form-control" id="content" rows="10" [(ngModel)]="publication.content" name="content" required #content="ngModel"
                  (change)="checkIfContentIsValid()"></textarea>
        <div *ngIf="content.touched && content.invalid" class="alert alert-danger">Contenu requis</div>
        <div *ngIf="!isContentValid && content.touched" class="alert alert-danger">Contenu invalide</div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!isTitleValid || !isContentValid" >Enregistrer</button>
      </div>
    </div>
  </form>
</div>
