<div class="app-messages">
  <div class="bg-danger p-5" *ngIf="statusMessage">{{statusMessage}}</div>
  <div class="spinner-border spinner m-5" role="status" *ngIf="loadingData && !statusMessage">
    <span class="sr-only">Loading...</span>
  </div>

  <div class="login-message" *ngIf="!isLogged && !loadingData">
    <div class="label">Pour poster un message, vous devez être </div><div class="link text-primary" (click)="accessLogin()">connecté.</div>
  </div>
  <div *ngIf="isLogged">
    <label for="content">Exprimez vous !</label>
    <textarea rows="4" type="text" class="form-control" id="content" [(ngModel)]="message.content" name="content" required #content="ngModel"
    (ngModelChange)="checkIfContentIsValid()"></textarea>
    <div *ngIf="content.touched && content.invalid" class="alert alert-danger">Message requis</div>
    <div *ngIf="!isContentValid && content.touched" class="alert alert-danger">Message invalide</div>

    <div class="row">
      <div class="col btn-container">
        <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!isContentValid || sendingMessage" >Enregistrer</button>
        <div class="spinner-border spinner-border-sm little-spinner" role="status" *ngIf="sendingMessage">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
