.app-messages {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  .login-message {
    font-weight: bold;
    display: flex;
    margin-bottom: 25px;
    .link {
      margin-left: 5px;
    }
  }
  .btn-container {
    display: flex;
    .label {
      mergin-left: 10px;
    }
  }
}
