<div class="topbar">
  <div class="container">
    <div class="row justify-content-between">

      <a href="" class="title col-1">PublishPrototype</a>

      <div class="buttons col-4">
        <a class="login btn btn-primary">Connexion</a>
        <a class="register btn btn-primary">Inscription</a>

        <a class="burger nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="oi oi-menu"></span>
        </a>
      </div>

      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Connexion</a>
        <a class="dropdown-item" href="#">Inscription</a>
      </div>

    </div>
  </div>
</div>
