<div class="topbar">
  <div class="container">
    <div class="row justify-content-between">

      <div class="logo col-xs-1"><img src="../../../assets/logo_transparent.png" (click)="accessHome()"></div>

      <div class="buttons col-4">
        <a class="login btn btn-primary" (click)="accessLogin()">Connexion</a>
        <a class="register btn btn-primary" (click)="accesUsersEdit()">Inscription</a>
      </div>


    </div>
    <a class="burger nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="oi oi-menu"></span>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Connexion</a>
      <a class="dropdown-item" href="#">Inscription</a>
    </div>
  </div>
</div>
