.container {
  display: flex;
  flex-direction: column;
  .spinner {
    align-self: center;
  }
}
.little-spinner {
  margin-left: 15px;
  margin-top: 10px;
}
.link {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
