<div class="homepage container">

  <div class="title">
    BIENVENUE SUR www.publiproto.com !
  </div>

  <a class="collapse_btn collapsed" data-toggle="collapse" href="#collapse_a1" role="button" aria-expanded="false" aria-controls="collapse_a1">
    <div class="question">
      À quoi sert www.publiproto.com ?
    </div>
    <div class="collapsed_icon material-icons">expand_more</div>
    <div class="expended_icon material-icons">expand_less</div>
  </a>

  <div class="collapse" id="collapse_a1">
    <div class="answer card card-body">
      Réponse en cours de rédaction...
    </div>
  </div>


  <a class="collapse_btn collapsed" data-toggle="collapse" href="#collapse_a2" role="button" aria-expanded="false" aria-controls="collapse_a2">
    <div class="question">
      Comment utiliser www.publiproto.com ?
    </div>
    <div class="collapsed_icon material-icons">expand_more</div>
    <div class="expended_icon material-icons">expand_less</div>
  </a>


  <div class="collapse" id="collapse_a2">
    <div class="answer card card-body">
      Réponse en cours de rédaction...
    </div>
  </div>


  <a class="collapse_btn collapsed" data-toggle="collapse" href="#collapse_a3" role="button" aria-expanded="false" aria-controls="collapse_a3">
    <div class="question">
      Comment fonctionne www.publiproto.com ?
    </div>
    <div class="collapsed_icon material-icons">expand_more</div>
    <div class="expended_icon material-icons">expand_less</div>
  </a>

  <div class="collapse" id="collapse_a3">
    <div class="answer card card-body">
      Réponse en cours de rédaction...
    </div>
  </div>

  <a class="collapse_btn collapsed" data-toggle="collapse" href="#collapse_a4" role="button" aria-expanded="false" aria-controls="collapse_a4">
    <div class="question">
      Comment contacter le développeur de www.publiproto.com ?
    </div>
    <div class="collapsed_icon material-icons">expand_more</div>
    <div class="expended_icon material-icons">expand_less</div>
  </a>

  <div class="collapse" id="collapse_a4">
    <div class="answer card card-body">
      Réponse en cours de rédaction...
    </div>
  </div>

</div>
