<div  class="container publications">
  <div class="add_btn btn btn-primary col-md-6" role="button" (click)="addPublication()">Nouvelle publication</div>
  <div class="bg-danger p-5" *ngIf="message">{{message}}</div>
  <div class="spinner-border spinner m-5" role="status" *ngIf="loadingData && !message">
    <span class="sr-only">Loading...</span>
  </div>

  <h3 class="no-pubs" *ngIf="publications?.length === 0">Pas de publication ! Soyez le premier à poster !</h3>

  <div class="publication {{isAdmin ? 'admin' : ''}} clickable" *ngFor="let publication of publications" (click)="accessPublication(publication.id)">
    <div class="buttons">
      <a class="btn" role="button" (click)="editPublication(publication.id)" *ngIf="isAdmin"><span class="oi oi-pencil"></span></a>
      <a class="btn" role="button" (click)="deletePublication(publication.id)" *ngIf="isAdmin"><span class="oi oi-trash"></span></a>
    </div>
    <div class="content">
      <div class="image" *ngIf="publication.imagePath"><img src='{{publication.imagePath}}'></div>
      <div class="details {{publication.imagePath ? 'reduced' : ''}}">
        <div class="title text-primary">{{publication.title}} </div>
        <div class="infos">
          <div class="date"> <div class="label">Publié le</div>{{publication.publicationDate | date : 'dd/MM/yyyy à H:mm'}}</div>
          <div class="author"> <div class="label">par</div><div class="link">{{publication.author.username}}</div></div>
        </div>
        <div class="content" [innerHTML]="publication.content"></div>
      </div>
    </div>
  </div>
</div>
