.publications {
  display: flex;
  flex-direction: column;
  .add_btn {
    width: 50px;
    margin-bottom: 10px;
  }
  .link {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .publication {
    margin-top: 35px;
    position: relative;
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 5px 10px 5px 10px;
    .content {
      display: flex;
      flex-direction: column;
      width: 100%;
      .image {
        margin-right: 15px;
        width: 100%;
        max-width: inherit;
        max-height: 150px;
        text-align: center;
        img {
          max-width: 100%;
          max-height: 150px;
        }
      }
      .details {
        margin-top: 5px;
        .title {
          display: contents;
          width: auto;
          font-weight: bold;
          font-size: 18px;
        }
        .infos {
          display: flex;
          flex-direction: column;
          color: grey;
          font-size: 14px;
          .label {
            display: none;
          }
          .date {
            margin-right: 3px;
          }
        }
        .content {
          display: none;
        }
      }
    }
    .buttons {
      right: 0;
      top: -35px;
      position: absolute;
      display: flex;
    }
  }
}

@media (min-width: 768px) {
  .content {
    flex-direction: row !important;
    .image {
      width: auto !important;
      max-height: 175px !important;
      img {
        max-height: 175px !important;
      }
    }
  }
  .details {
    margin-top: 0 !important;
    max-width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    max-height: 174px;
    .infos {
      flex-direction: row !important;
      .date, .author {
        display: flex;
      }
      .label {
        display: flex !important;
        margin-right: 5px !important;
      }
    }
    .content {
      display: contents !important;
    }
  }

}
